# Scenario: Analyzing Provincial Support for Policy Development

You are a data analyst working for a governmental organization tasked with evaluating the effectiveness of various support programs across different provinces. The dataset you have can include information on provincial support initiatives, their funding amounts, beneficiary demographics, and outcomes.

## Objectives

1. **Evaluate Program Effectiveness**: Determine which support programs are most effective in achieving their intended outcomes.
2. **Identify Funding Gaps**: Identify provinces or regions that may be underfunded or not receiving adequate support.
3. **Demographic Analysis**: Analyze the demographics of the beneficiaries to ensure equitable distribution of support.
4. **Trend Analysis**: Discover trends in support allocation and outcomes over time.

## Data
The dataset includes the following attributes:

- **Province**: Name of the province
- **Year**: Year of the support allocation

# Data Manipulation with Pandas

This Jupyter Notebook demonstrates various tasks related to data manipulation using pandas, focusing on Canadian provincial data, particularly population and area statistics.

## Summary

The notebook contains several tasks demonstrating the use of pandas for data manipulation, including:

### 1. Creating and Manipulating Series and DataFrames

- **Task 1**: Creating a pandas Series to contain the population data for Nova Scotia and New Brunswick.
- **Task 2**: Merging the new Series with an existing `provinces_population` Series.

### 2. Creating DataFrames from Dictionaries

Creating a DataFrame that contains area data (land and water areas) for five Canadian provinces (Ontario, Quebec, British Columbia, Alberta, and Manitoba).

### 3. DataFrame Indexing and Sorting

Various operations to set the index of a DataFrame and sort it by different criteria, such as by index or by specific column values.

## Context of Dataset

The notebook focuses on Canadian provincial data, including:

- **Population Data**: Using data from Statistics Canada to create and manipulate Series objects for provincial populations.
- **Area Data**: Creating and managing DataFrames with information on land and water areas for selected provinces.

The operations demonstrate common data manipulation techniques in pandas, such as creating Series and DataFrames, merging, concatenating, setting indices, and sorting data.

## Creating Series from Dictionary

In [1]:
# Top 5 Canadian provinces by population(retrieved from Statistics Canada web site, we used the 2017 column of data):
import pandas as pd
population_dict = {'ON': 14193384, 'QC': 8394034, 'BC': 4817160, 'AB': 4286134, 'MB': 1338109}
provinces_population = pd.Series(population_dict, name='Top 5 provinces by population')
provinces_population

#When a dictionary is used to create a Series, dictionary keys become indices

ON    14193384
QC     8394034
BC     4817160
AB     4286134
MB     1338109
Name: Top 5 provinces by population, dtype: int64

In [2]:
# Population of Ontario
provinces_population['ON']

14193384

In [3]:
# Selecting only provinces with population greater than 5 million.This type of selection is called boolean indexing:
provinces_population >5000000

ON     True
QC     True
BC    False
AB    False
MB    False
Name: Top 5 provinces by population, dtype: bool

In [4]:
provinces_population[provinces_population >5000000]

ON    14193384
QC     8394034
Name: Top 5 provinces by population, dtype: int64

In [5]:
# Entries with index positions of 2 and 3, should return British Columbia and Alberta:
provinces_population[2:4]

BC    4817160
AB    4286134
Name: Top 5 provinces by population, dtype: int64

Even though the indices are strings, pandas allows us to use the integer position of an index key. Please remember that integer position starts with zero.

If we use the index keys for a slice operation, both parameters are inclusive and the value for Manitoba is returned.

In [6]:
# The result of this command should be 3 provinces,British Columbia, Alberta and Manitoba
provinces_population[2:5]

BC    4817160
AB    4286134
MB    1338109
Name: Top 5 provinces by population, dtype: int64

In [7]:
provinces_population['BC':'MB']

BC    4817160
AB    4286134
MB    1338109
Name: Top 5 provinces by population, dtype: int64

In [8]:
#Check if Quebec is within the top 5 provinces (by population):

'QC' in provinces_population

True

In [9]:
'NS' in provinces_population

False

In [10]:
# Total Population
provinces_population.sum()

33028821

In [11]:
provinces_population[['ON','QC']].sum() #  sum of only two provinces passing the list of columns

22587418

In [12]:
provinces_population.mean()

6605764.2

In [13]:
# Task 1: Create a new Series object that will contain the population of Nova Scotia and New Brunswick. 
# Use the data from the Statistics Canada website.
data = {'NS':953869, 'NB': 759655 }
series1 = pd.Series(data, name = "Population of Nova Scotia and New Brunswick")
series1

NS    953869
NB    759655
Name: Population of Nova Scotia and New Brunswick, dtype: int64

In [14]:
# Task 2: Merge your new Series and the provinces_population into a single Series object. Use the append() function
# provinces_population = provinces_population.append(series1) 
# append is deprecated
pd.concat([provinces_population,series1 ])

ON    14193384
QC     8394034
BC     4817160
AB     4286134
MB     1338109
NS      953869
NB      759655
dtype: int64

## Create a DataFrame from a simple dictionary

In [15]:
# This Dataframe contain area data for land and water areas for the five Canadian provinces
#(i.e. Ontario, Quebec, British Columbia, Alberta and Manitoba

area = {
    'province':['ON','QC','BC','AB','MB'],
    'area_land':[917741, 1356128, 925186, 642317, 553556],
    'area_water':[158654, 185928, 19549, 19531, 94241]
}
provinces_area = pd.DataFrame(area)
provinces_area

  province  area_land  area_water
0       ON     917741      158654
1       QC    1356128      185928
2       BC     925186       19549
3       AB     642317       19531
4       MB     553556       94241

In [16]:
#Pandas created a new DataFrame with 3 columns and the index set to the default range of integers from 0 to 4. 
# If we want the province to be an index for this DataFrame, we need to use the method set_index():
provinces_area.index

RangeIndex(start=0, stop=5, step=1)

In [17]:
provinces_area.set_index(['province'])

          area_land  area_water
province
ON           917741      158654
QC          1356128      185928
BC           925186       19549
AB           642317       19531
MB           553556       94241

## Reading data from a file into a DataFrame and writing data from a DataFrame to a file.

In [18]:
# Loading csv into DataFrame
# data of the last 3 years of Federal Support to all Canadian Provinces and Territories. All numbers are in millions of dollars.

prov_support = pd.read_csv('pandas_ex1.csv' ,sep = ',')
prov_support

,Canadian Provinces and Territories,Two-Letter Abbreviation,2016-17,2017-18,2018-19
0,Newfoundland and Labrador,NL,724,734,750
1,Prince Edward Island,PE,584,601,638
2,Nova Scotia,NS,3060,3138,3201
3,New Brunswick,NB,2741,2814,2956
4,Quebec,QC,21372,22720,23749
5,Ontario,ON,21347,21101,21420
6,Manitoba,MB,3531,3675,3965
7,Saskatchewan,SK,1565,1613,1673
8,Alberta,AB,5772,5943,6157
9,British Columbia,BC,6482,6680,6925
10,Yukon,YT,946,973,1006
11,Northwest Territories,NT,1281,1294,1319
12,Nunavut,NU,1539,1583,1634

A couple of observations:

    The first row in the file was indeed a header row
    Pandas created a DataFrame with an index from 0 to 12

In [19]:
# Summary Info
prov_support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Canadian Provinces and Territories  13 non-null     object
 1   Two-Letter Abbreviation             13 non-null     object
 2   2016-17                             13 non-null     int64
 3   2017-18                             13 non-null     int64
 4   2018-19                             13 non-null     int64
dtypes: int64(3), object(2)
memory usage: 648.0+ bytes

We can see that the DataFrame object has 5 columns of data, 3 columns are integers and 2 columns are of object data type. In pandas, "object" usually means string. We can also use the method dtypes to check data types for each column of data:

In [20]:
prov_support.dtypes

Canadian Provinces and Territories    object
Two-Letter Abbreviation               object
2016-17                                int64
2017-18                                int64
2018-19                                int64
dtype: object

In [21]:
prov_support = pd.read_csv('pandas_ex1.csv' ,sep = ',',header=None, 
                           skiprows =1, names =['province_name', 'province','2016','2017','2018'], index_col='province')
prov_support

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
BC                 British Columbia   6482   6680   6925
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

In [22]:
# Using read_csv function to set_index instead of set_index()

In [23]:
import pandas as pd
import numpy as np
prov_support = pd.read_csv('pandas_ex1.csv',
                           sep=',', 
                           skiprows=1,   # skipping one row
                           header=None,  # we are telling pandas that there is no header in the file, as we skipped the first row
                           names=['province_name','province','2016','2017','2018'], # names of columns
                           index_col='province')   # use column 'province' as index
prov_support

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
BC                 British Columbia   6482   6680   6925
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

In [24]:
# Saving DataFrames
# to_csv() function for writing out DataFrame data in csv format
csv_out = prov_support.to_csv()
csv_out

'province,province_name,2016,2017,2018\r\nNL,Newfoundland and Labrador,724,734,750\r\nPE,Prince Edward Island,584,601,638\r\nNS,Nova Scotia,3060,3138,3201\r\nNB,New Brunswick,2741,2814,2956\r\nQC,Quebec,21372,22720,23749\r\nON,Ontario,21347,21101,21420\r\nMB,Manitoba,3531,3675,3965\r\nSK,Saskatchewan,1565,1613,1673\r\nAB,Alberta,5772,5943,6157\r\nBC,British Columbia,6482,6680,6925\r\nYT,Yukon,946,973,1006\r\nNT,Northwest Territories,1281,1294,1319\r\nNU,Nunavut,1539,1583,1634\r\n'

In [25]:
# writing to a file
prov_support.to_csv('csv_out1.csv')

In [26]:
#specify if we want to include a header row and index, and what character should be used as a column separator:
prov_support.to_csv('csv_out2.csv',
                    sep='\t',       # the separator used for the columns
                    index=True,     # whether to include indexes in output
                     header=True)    # whether to include headers in output

## Renaming DataFrame columns

In [27]:
# renaming columns using .columns attribute and pass it to a list of new column names:

fed_sup = pd.read_csv('pandas_ex1.csv', sep=',') 
fed_sup

,Canadian Provinces and Territories,Two-Letter Abbreviation,2016-17,2017-18,2018-19
0,Newfoundland and Labrador,NL,724,734,750
1,Prince Edward Island,PE,584,601,638
2,Nova Scotia,NS,3060,3138,3201
3,New Brunswick,NB,2741,2814,2956
4,Quebec,QC,21372,22720,23749
5,Ontario,ON,21347,21101,21420
6,Manitoba,MB,3531,3675,3965
7,Saskatchewan,SK,1565,1613,1673
8,Alberta,AB,5772,5943,6157
9,British Columbia,BC,6482,6680,6925
10,Yukon,YT,946,973,1006
11,Northwest Territories,NT,1281,1294,1319
12,Nunavut,NU,1539,1583,1634

In [28]:
fed_sup.columns=['Province Name','Province Abbreviation','2016','2017','2018']
fed_sup

                Province Name Province Abbreviation   2016   2017   2018
0   Newfoundland and Labrador                    NL    724    734    750
1        Prince Edward Island                    PE    584    601    638
2                 Nova Scotia                    NS   3060   3138   3201
3               New Brunswick                    NB   2741   2814   2956
4                      Quebec                    QC  21372  22720  23749
5                     Ontario                    ON  21347  21101  21420
6                    Manitoba                    MB   3531   3675   3965
7                Saskatchewan                    SK   1565   1613   1673
8                     Alberta                    AB   5772   5943   6157
9            British Columbia                    BC   6482   6680   6925
10                      Yukon                    YT    946    973   1006
11      Northwest Territories                    NT   1281   1294   1319
12                    Nunavut                    NU   1539   1583   1634

In [29]:
# Removing spaces in the column names using rename
fed_sup = fed_sup.rename(columns ={'Province Name':'ProvinceName','Province Abbreviation':'province'})
fed_sup

                 ProvinceName province   2016   2017   2018
0   Newfoundland and Labrador       NL    724    734    750
1        Prince Edward Island       PE    584    601    638
2                 Nova Scotia       NS   3060   3138   3201
3               New Brunswick       NB   2741   2814   2956
4                      Quebec       QC  21372  22720  23749
5                     Ontario       ON  21347  21101  21420
6                    Manitoba       MB   3531   3675   3965
7                Saskatchewan       SK   1565   1613   1673
8                     Alberta       AB   5772   5943   6157
9            British Columbia       BC   6482   6680   6925
10                      Yukon       YT    946    973   1006
11      Northwest Territories       NT   1281   1294   1319
12                    Nunavut       NU   1539   1583   1634

In [30]:
#The advantage of using the rename() function is that you can include only those column names that require the change 
# and be specific about what column names you want to rename.

In [31]:
fed_sup.head(10)

                ProvinceName province   2016   2017   2018
0  Newfoundland and Labrador       NL    724    734    750
1       Prince Edward Island       PE    584    601    638
2                Nova Scotia       NS   3060   3138   3201
3              New Brunswick       NB   2741   2814   2956
4                     Quebec       QC  21372  22720  23749
5                    Ontario       ON  21347  21101  21420
6                   Manitoba       MB   3531   3675   3965
7               Saskatchewan       SK   1565   1613   1673
8                    Alberta       AB   5772   5943   6157
9           British Columbia       BC   6482   6680   6925

In [32]:
prov_support.shape

(13, 4)

In [33]:
fed_sup.shape

(13, 5)

In [34]:
prov_support.columns

Index(['province_name', '2016', '2017', '2018'], dtype='object')

In [35]:
prov_support.index

Index(['NL', 'PE', 'NS', 'NB', 'QC', 'ON', 'MB', 'SK', 'AB', 'BC', 'YT', 'NT',
       'NU'],
      dtype='object', name='province')

In [36]:
fed_sup.index

RangeIndex(start=0, stop=13, step=1)

In [37]:
prov_support.sort_index(axis=0, ascending = True)

                      province_name   2016   2017   2018
province
AB                          Alberta   5772   5943   6157
BC                 British Columbia   6482   6680   6925
MB                         Manitoba   3531   3675   3965
NB                    New Brunswick   2741   2814   2956
NL        Newfoundland and Labrador    724    734    750
NS                      Nova Scotia   3060   3138   3201
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634
ON                          Ontario  21347  21101  21420
PE             Prince Edward Island    584    601    638
QC                           Quebec  21372  22720  23749
SK                     Saskatchewan   1565   1613   1673
YT                            Yukon    946    973   1006

In [38]:
prov_support.sort_index(axis=1, ascending = True)

           2016   2017   2018              province_name
province
NL          724    734    750  Newfoundland and Labrador
PE          584    601    638       Prince Edward Island
NS         3060   3138   3201                Nova Scotia
NB         2741   2814   2956              New Brunswick
QC        21372  22720  23749                     Quebec
ON        21347  21101  21420                    Ontario
MB         3531   3675   3965                   Manitoba
SK         1565   1613   1673               Saskatchewan
AB         5772   5943   6157                    Alberta
BC         6482   6680   6925           British Columbia
YT          946    973   1006                      Yukon
NT         1281   1294   1319      Northwest Territories
NU         1539   1583   1634                    Nunavut

In [39]:
#Series have only one axis and it is a row axis. You can also see that indexes are of pandas Index object type:

In [40]:
## Selecting data from a DataFrame
# Province data
prov_support['province_name']

province
NL    Newfoundland and Labrador
PE         Prince Edward Island
NS                  Nova Scotia
NB                New Brunswick
QC                       Quebec
ON                      Ontario
MB                     Manitoba
SK                 Saskatchewan
AB                      Alberta
BC             British Columbia
YT                        Yukon
NT        Northwest Territories
NU                      Nunavut
Name: province_name, dtype: object

In [41]:
#Check whether particular province is in the data
'QC' in prov_support['province_name']

True

In [42]:
prov_support.province_name

province
NL    Newfoundland and Labrador
PE         Prince Edward Island
NS                  Nova Scotia
NB                New Brunswick
QC                       Quebec
ON                      Ontario
MB                     Manitoba
SK                 Saskatchewan
AB                      Alberta
BC             British Columbia
YT                        Yukon
NT        Northwest Territories
NU                      Nunavut
Name: province_name, dtype: object

In [43]:
## To select multiple columns of data, we need to pass a list of columns
# Get province and 2016 data
prov_support[['province_name','2016']]

                      province_name   2016
province
NL        Newfoundland and Labrador    724
PE             Prince Edward Island    584
NS                      Nova Scotia   3060
NB                    New Brunswick   2741
QC                           Quebec  21372
ON                          Ontario  21347
MB                         Manitoba   3531
SK                     Saskatchewan   1565
AB                          Alberta   5772
BC                 British Columbia   6482
YT                            Yukon    946
NT            Northwest Territories   1281
NU                          Nunavut   1539

In [44]:
# Select data for Ontario by the label 'ON':
prov_support.loc['ON']

province_name    Ontario
2016               21347
2017               21101
2018               21420
Name: ON, dtype: object

In [45]:
prov_support.iloc[5]

province_name    Ontario
2016               21347
2017               21101
2018               21420
Name: ON, dtype: object

In [46]:
# Selecting data for Ontario, British Columbia and Quebec by labels:
prov_support.loc[['ON','BC','QC']]

             province_name   2016   2017   2018
province
ON                 Ontario  21347  21101  21420
BC        British Columbia   6482   6680   6925
QC                  Quebec  21372  22720  23749

In [47]:
# Selecting data for Ontario, British Columbia and Quebec by position:
prov_support.iloc[[4,5,9]]

             province_name   2016   2017   2018
province
QC                  Quebec  21372  22720  23749
ON                 Ontario  21347  21101  21420
BC        British Columbia   6482   6680   6925

In [48]:
# rows with position 0, 1 and 2, but not 3
prov_support.iloc[:3]

                      province_name  2016  2017  2018
province
NL        Newfoundland and Labrador   724   734   750
PE             Prince Edward Island   584   601   638
NS                      Nova Scotia  3060  3138  3201

In [49]:
# Only numeric columns:

prov_support[['2016', '2017', '2018']]

           2016   2017   2018
province
NL          724    734    750
PE          584    601    638
NS         3060   3138   3201
NB         2741   2814   2956
QC        21372  22720  23749
ON        21347  21101  21420
MB         3531   3675   3965
SK         1565   1613   1673
AB         5772   5943   6157
BC         6482   6680   6925
YT          946    973   1006
NT         1281   1294   1319
NU         1539   1583   1634

In [50]:
prov_support.iloc[:,1:]

           2016   2017   2018
province
NL          724    734    750
PE          584    601    638
NS         3060   3138   3201
NB         2741   2814   2956
QC        21372  22720  23749
ON        21347  21101  21420
MB         3531   3675   3965
SK         1565   1613   1673
AB         5772   5943   6157
BC         6482   6680   6925
YT          946    973   1006
NT         1281   1294   1319
NU         1539   1583   1634

In [51]:
# we can select a slice (subset) of rows and columns. Selecting the first 3 rows and the first 2 columns only:

prov_support.iloc[:3,:2]

                      province_name  2016
province
NL        Newfoundland and Labrador   724
PE             Prince Edward Island   584
NS                      Nova Scotia  3060

In [52]:
prov_support.loc[:'NS',:'2016']

                      province_name  2016
province
NL        Newfoundland and Labrador   724
PE             Prince Edward Island   584
NS                      Nova Scotia  3060

In [53]:
#Select all rows where federal support in 2018 is greater than 3000. This is called Boolean indexing:
prov_support[prov_support['2018']>3000]

             province_name   2016   2017   2018
province
NS             Nova Scotia   3060   3138   3201
QC                  Quebec  21372  22720  23749
ON                 Ontario  21347  21101  21420
MB                Manitoba   3531   3675   3965
AB                 Alberta   5772   5943   6157
BC        British Columbia   6482   6680   6925

In [54]:
# check whether index is  one of ['AB', 'ON', 'BC'] in prov_support

prov_support[prov_support.index.isin(['AB','ON','BC'])]

             province_name   2016   2017   2018
province
ON                 Ontario  21347  21101  21420
AB                 Alberta   5772   5943   6157
BC        British Columbia   6482   6680   6925

In [55]:
# check whether value in '2018' is one of these['23749', '21420']

prov_support[prov_support['2018'].isin(['23749','21420'])]

Empty DataFrame
Columns: [province_name, 2016, 2017, 2018]
Index: []

In [56]:
# check whetehr value in '2017' is >6000 and index is one of these 'AB', 'ON', 'BC'

prov_support[prov_support['2017']> 6000 & prov_support.index.isin(['AB', 'ON', 'BC'])]

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
BC                 British Columbia   6482   6680   6925
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

In [57]:
# "Is not" can be coded using the ~ unary operator:

# Selecting rows where support in 2017 does not equal to 6680:
prov_support[~(prov_support['2017'] == 6680)]  # returns all rows except British Columbia

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

In [58]:
# Another way of doing the same thing:

prov_support[prov_support['2017'] != 6680]

                      province_name   2016   2017   2018
province
NL        Newfoundland and Labrador    724    734    750
PE             Prince Edward Island    584    601    638
NS                      Nova Scotia   3060   3138   3201
NB                    New Brunswick   2741   2814   2956
QC                           Quebec  21372  22720  23749
ON                          Ontario  21347  21101  21420
MB                         Manitoba   3531   3675   3965
SK                     Saskatchewan   1565   1613   1673
AB                          Alberta   5772   5943   6157
YT                            Yukon    946    973   1006
NT            Northwest Territories   1281   1294   1319
NU                          Nunavut   1539   1583   1634

In [59]:
prov_support['province_name'].str.lower()

province
NL    newfoundland and labrador
PE         prince edward island
NS                  nova scotia
NB                new brunswick
QC                       quebec
ON                      ontario
MB                     manitoba
SK                 saskatchewan
AB                      alberta
BC             british columbia
YT                        yukon
NT        northwest territories
NU                      nunavut
Name: province_name, dtype: object

In [60]:
# Selecting all rows where province name contains the character 'm'
prov_support[prov_support['province_name'].str.contains('m')]## why not manitoba

             province_name  2016  2017  2018
province
BC        British Columbia  6482  6680  6925

In [61]:
prov_support[prov_support['province_name'].str.lower().str.contains('m')]

             province_name  2016  2017  2018
province
MB                Manitoba  3531  3675  3965
BC        British Columbia  6482  6680  6925

In [62]:
#OR using loc
prov_support.loc[prov_support.province_name.str.lower().str.contains('m')] # all data 

# using just 2 columns 
prov_support.loc[prov_support.province_name.str.lower().str.contains('m'), ['province_name']]

             province_name
province
MB                Manitoba
BC        British Columbia

## Applying Functions to Columns

In [63]:
#Why functions: We may need Custom function that we need to apply to each row of data for one or more columns.  
# to perform an operation on the column(s) of a pandas DataFrame which is not vectorizable.

# for change in 2018 from 2017, design a function

def change_2018(y):
    yr2017, yr2018 =y
    return (yr2018-yr2017)/yr2017*100

In [64]:
prov_support[['2017','2018']].apply(change_2018, axis =1)

province
NL    2.179837
PE    6.156406
NS    2.007648
NB    5.046198
QC    4.529049
ON    1.511777
MB    7.891156
SK    3.719777
AB    3.600875
BC    3.667665
YT    3.391572
NT    1.931994
NU    3.221731
dtype: float64

In [65]:
# We can create a new column and put this change column in that and add it to dataframe
prov_support['per_change']=prov_support[['2017','2018']].apply(change_2018, axis =1)
prov_support

                      province_name   2016   2017   2018  per_change
province
NL        Newfoundland and Labrador    724    734    750    2.179837
PE             Prince Edward Island    584    601    638    6.156406
NS                      Nova Scotia   3060   3138   3201    2.007648
NB                    New Brunswick   2741   2814   2956    5.046198
QC                           Quebec  21372  22720  23749    4.529049
ON                          Ontario  21347  21101  21420    1.511777
MB                         Manitoba   3531   3675   3965    7.891156
SK                     Saskatchewan   1565   1613   1673    3.719777
AB                          Alberta   5772   5943   6157    3.600875
BC                 British Columbia   6482   6680   6925    3.667665
YT                            Yukon    946    973   1006    3.391572
NT            Northwest Territories   1281   1294   1319    1.931994
NU                          Nunavut   1539   1583   1634    3.221731

In [66]:
# applymap()-> for applying function to all columns of a selected dataframe
# map-> to one column of dataframe

# applymap()-> for applying function to all columns of a selected dataframe
prov_support.loc[:,'2017':'per_change'].applymap(lambda x: '%.2f' %x)

              2017      2018 per_change
province
NL          734.00    750.00       2.18
PE          601.00    638.00       6.16
NS         3138.00   3201.00       2.01
NB         2814.00   2956.00       5.05
QC        22720.00  23749.00       4.53
ON        21101.00  21420.00       1.51
MB         3675.00   3965.00       7.89
SK         1613.00   1673.00       3.72
AB         5943.00   6157.00       3.60
BC         6680.00   6925.00       3.67
YT          973.00   1006.00       3.39
NT         1294.00   1319.00       1.93
NU         1583.00   1634.00       3.22

In [67]:
prov_support['per_change'].map(lambda x: '%.2f' %x)

province
NL    2.18
PE    6.16
NS    2.01
NB    5.05
QC    4.53
ON    1.51
MB    7.89
SK    3.72
AB    3.60
BC    3.67
YT    3.39
NT    1.93
NU    3.22
Name: per_change, dtype: object

## Sorting Dataframe

In [68]:
prov_support.sort_index(axis =0)

                      province_name   2016   2017   2018  per_change
province
AB                          Alberta   5772   5943   6157    3.600875
BC                 British Columbia   6482   6680   6925    3.667665
MB                         Manitoba   3531   3675   3965    7.891156
NB                    New Brunswick   2741   2814   2956    5.046198
NL        Newfoundland and Labrador    724    734    750    2.179837
NS                      Nova Scotia   3060   3138   3201    2.007648
NT            Northwest Territories   1281   1294   1319    1.931994
NU                          Nunavut   1539   1583   1634    3.221731
ON                          Ontario  21347  21101  21420    1.511777
PE             Prince Edward Island    584    601    638    6.156406
QC                           Quebec  21372  22720  23749    4.529049
SK                     Saskatchewan   1565   1613   1673    3.719777
YT                            Yukon    946    973   1006    3.391572

In [69]:
prov_support.sort_index(axis =1, ascending = True)
#DataFrame will be sorted by column index, in lexicographical order.

           2016   2017   2018  per_change              province_name
province
NL          724    734    750    2.179837  Newfoundland and Labrador
PE          584    601    638    6.156406       Prince Edward Island
NS         3060   3138   3201    2.007648                Nova Scotia
NB         2741   2814   2956    5.046198              New Brunswick
QC        21372  22720  23749    4.529049                     Quebec
ON        21347  21101  21420    1.511777                    Ontario
MB         3531   3675   3965    7.891156                   Manitoba
SK         1565   1613   1673    3.719777               Saskatchewan
AB         5772   5943   6157    3.600875                    Alberta
BC         6482   6680   6925    3.667665           British Columbia
YT          946    973   1006    3.391572                      Yukon
NT         1281   1294   1319    1.931994      Northwest Territories
NU         1539   1583   1634    3.221731                    Nunavut

In [70]:
prov_support.sort_values('province') 

# the values are sorted in alphabetical order

                      province_name   2016   2017   2018  per_change
province
AB                          Alberta   5772   5943   6157    3.600875
BC                 British Columbia   6482   6680   6925    3.667665
MB                         Manitoba   3531   3675   3965    7.891156
NB                    New Brunswick   2741   2814   2956    5.046198
NL        Newfoundland and Labrador    724    734    750    2.179837
NS                      Nova Scotia   3060   3138   3201    2.007648
NT            Northwest Territories   1281   1294   1319    1.931994
NU                          Nunavut   1539   1583   1634    3.221731
ON                          Ontario  21347  21101  21420    1.511777
PE             Prince Edward Island    584    601    638    6.156406
QC                           Quebec  21372  22720  23749    4.529049
SK                     Saskatchewan   1565   1613   1673    3.719777
YT                            Yukon    946    973   1006    3.391572

In [71]:
# using the 'ascending' parameter we can control sort order
prov_support.sort_values('province_name', ascending=False)

                      province_name   2016   2017   2018  per_change
province
YT                            Yukon    946    973   1006    3.391572
SK                     Saskatchewan   1565   1613   1673    3.719777
QC                           Quebec  21372  22720  23749    4.529049
PE             Prince Edward Island    584    601    638    6.156406
ON                          Ontario  21347  21101  21420    1.511777
NU                          Nunavut   1539   1583   1634    3.221731
NS                      Nova Scotia   3060   3138   3201    2.007648
NT            Northwest Territories   1281   1294   1319    1.931994
NL        Newfoundland and Labrador    724    734    750    2.179837
NB                    New Brunswick   2741   2814   2956    5.046198
MB                         Manitoba   3531   3675   3965    7.891156
BC                 British Columbia   6482   6680   6925    3.667665
AB                          Alberta   5772   5943   6157    3.600875

In [72]:
prov_support.sort_index() # by default axis =0

                      province_name   2016   2017   2018  per_change
province
AB                          Alberta   5772   5943   6157    3.600875
BC                 British Columbia   6482   6680   6925    3.667665
MB                         Manitoba   3531   3675   3965    7.891156
NB                    New Brunswick   2741   2814   2956    5.046198
NL        Newfoundland and Labrador    724    734    750    2.179837
NS                      Nova Scotia   3060   3138   3201    2.007648
NT            Northwest Territories   1281   1294   1319    1.931994
NU                          Nunavut   1539   1583   1634    3.221731
ON                          Ontario  21347  21101  21420    1.511777
PE             Prince Edward Island    584    601    638    6.156406
QC                           Quebec  21372  22720  23749    4.529049
SK                     Saskatchewan   1565   1613   1673    3.719777
YT                            Yukon    946    973   1006    3.391572